.reviewTable {
  border: 1px solid black;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: sans-serif;
}
.trash {
  font-size: 24px;
}
.content-table thead tr {
  background-color: rgb(220, 53, 69);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
.desc {
  width: 300px;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(220, 53, 69);
}
