@import "./../../scss/variable.scss";
/*Styles for the container*/
.login-container{
  max-width: 400px;
  margin: 60px auto 0;
}

/*Forgot password button styles*/
.forgot-password{
  color: white;
  background-color: $button-background-colors ;
  width: 100%;
  margin-top: 10px;
}

