<!--Forgot password controller-->
<div ng-app="myApp" ng-controller="myController" class="container">
  <!--Form group for forgot password-->
  <form name="forgotPassword" [formGroup]="forgotPassword" (ngSubmit)="sendEmail()">
    <div class="login-container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Email</label>
            <!--Email type and validation using ngForm validation-->
            <input type="email" id="email" formControlName="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" >
              <div *ngIf="f.email.errors.required" class="error">Email is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-success forgot-password">Submit</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
