@import "./../../scss/variable.scss";

/*The reset password button styles*/
.reset-password{
  color: white;
  background-color: $button-background-colors;
  width: 100%;
  margin-top: 10px;
}

/*The page container*/
.login-container{
  max-width: 400px;
  margin: 60px auto 0;
}
