<div ng-app="myApp" ng-controller="myController" class="container">
  <!--Declaration of form group for reset password-->
  <form name="forgotPassword" [formGroup]="resetPassword" (ngSubmit)="submitNewPassword()">
    <div class="login-container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>New Password</label>
            <!--Password field-->
            <input type="password" id="password" formControlName="password" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" >
              <div *ngIf="f.password.errors.required" class="error">Password is required</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Confirm Password</label>
            <!--Confirm Password field-->
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
            <div *ngIf="submitted && f.confirmPassword.errors" >
              <div *ngIf="f.confirmPassword.errors.required" class="error">Confirm password is required</div>
            </div>
            <div *ngIf="f.confirmPassword.value != f.password.value" class="error">Passwords should match</div>
          </div>
        </div>
        </div>
      <!--Submit button-->
        <div class="col-md-12">
          <div class="form-group">
            <button class="btn btn-success reset-password">Submit</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
  </form>
</div>
