<!-- Customer Review form to enter customers review -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="container">
  <div class="row justify-content-center">

    <div class="col-12 col-md-9">
      <h4><b>Write a Review for Movie {{parentData}}</b></h4><br><br>
      <form class="form-row">
        <div class="form-group input-group-sm col-12 col-sm-6 col-lg">
          <label for="negotiate-name">Name :</label>
          <input type="text" class="form-control" id="negotiate-name" name="mname" [(ngModel)]="model.mname">
        </div>
        <fieldset class="rating">
          <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"
            title="Awesome - 5 stars"></label>
          <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"
            title="Pretty good - 4.5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"
            title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half"
            title="Meh - 3.5 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"
            title="Meh - 3 stars"></label>
          <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half"
            title="Kinda bad - 2.5 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"
            title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half"
            title="Meh - 1.5 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"
            title="Sucks big time - 1 star"></label>
          <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"
            title="Sucks big time - 0.5 stars"></label>
        </fieldset>
        <div class="form-group input-group-sm col-12">
          <label for="negotiate-comments">Comments :</label>
          <textarea class="form-control" rows="2" id="negotiate-comments" name="desc" [(ngModel)]="model.desc"></textarea>
        </div>

        <div class="form-group col-auto ml-auto">
          <button type="submit" class="btn btn-primary" (click)="onClickAddReview()">Add Review</button>
        </div>
      </form>
    </div>
  </div>
</div>