$margin : 20%;
$font-size : 20px;
$margin-padding :2%;
$none:none;
$button-background-colors :darkred;
$grid__bp-md: 1200;


%font-shared
{
 font-family: sans-serif;
 text-align: center;
 text-shadow: 5px 5px 5px black;
}

