@import "./../../scss/variable";

.viewBtn{
    color: black;
}
.mainc {
display:grid;
max-width: $grid__bp-md * 1px;
grid-template-columns: 30% auto 30%;
background-color:rgb(14, 13, 13);
grid-auto-rows: minmax(80px, auto);
grid-gap: 8px;
margin:10px;
}

    .mainc_b
    {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height : 500px; 
    background-color: $button-background-colors;
    }
    
    .mainc_c
    {
    grid-column: 3 / 4;
    grid-row: 1/ 3;
    width : 460px; 
    background-color:rgb(31, 27, 34);
    }
// accessing inheritence concepts 
h1 {
   @extend %font-shared;
   color: whitesmoke;
    margin-top: 20px;
    font-size: 40px;
   }
   
   h3 {
    @extend %font-shared;
    color: whitesmoke;
     margin-top: 20px;
     font-size: 40px;
    }
    
 
   