<script type="textr/javascript" src="jspdf.min.js"></script>
<script type="text/javascript" src="html2canvas.js"></script>
<script type="text/javascript"></script>
<div class="mainc">

    <div class="mainc_b">

        <div class="container-fluid py-3 bg-dark card ">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div id="pay-invoice" class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h4 class="text-center">Pay Invoice</h4>
                            </div>

                            <form action="/echo" method="post" novalidate="novalidate" class="needs-validation"
                                #regForm='ngForm' (ngSubmit)="onClickPlaceOrder()">
                                <div class="form-group text-center">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="text-muted fa fa-cc-visa fa-2x"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-cc-mastercard fa-2x"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-cc-amex fa-2x"></i></li>
                                        <li class="list-inline-item"><i class="fa fa-cc-discover fa-2x"></i></li>
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Payment amount</label>
                                    <input id="cc-payment" name="cc-payment" type="text" class="form-control"
                                        aria-required="true" aria-invalid="false" required value=${{totalamt}}.00 [disabled]="true" > 
                                    <span class="invalid-feedback">Enter the payment amount</span>
                                </div>
                                <div class="form-group has-success">
                                    <label for="cc-name" class="control-label mb-1">Name on card</label>
                                     <!-- customer name  has to be grater than three characters, only alphabetic characters are 
                                    allowed -->
                                    <input ngModel name="ccname"  #ccname="ngModel" id="cc-name" type="text"
                                        class="form-control cc-name" minlength="3" maxlength=30 pattern="^[a-zA-Z\s]+$"
                                        required [(ngModel)]= "username" >

                                   
                                   <div class="alert alert-danger" *ngIf="ccname.touched && !ccname.valid "> 
                                        <div *ngIf="ccname.errors.required">
                                            Name is mandatory & must match as given on card.
                                        </div>
                                        <div *ngIf="ccname.errors.minlength">
                                            Name must be minimum length of 3.
                                        </div>

                                        <div *ngIf="ccname.errors.pattern">
                                            Name must be alphnumeric.
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cc-number" class="control-label mb-1">Card number</label>
                                    <div class="controls">
                                        <div class="row">
                                            <div class="col-md-3">
                                                 <!-- first set of card number  is required, has to be minimum length 4 and 
                                                must be numeric -->
                                                <input type="text" class="form-control" minlength="4" maxlength="4"
                                                    pattern="[0-9]*" title="First four digits" required="" ngModel
                                                    name="ccnum1" #ccnum1="ngModel" [(ngModel)]= "cardnum1" >

                                                <div class="alert alert-danger" *ngIf="ccnum1.touched && !ccnum1.valid"> 
                                               
                                                    <div *ngIf="ccnum1.errors.required">
                                                        Can't be left empty.
                                                    </div>
                                                    <div *ngIf="ccnum1.errors.minlength">
                                                        Min Length 4.
                                                    </div>
                                                    <div *ngIf="ccnum1.errors.pattern">
                                                        Only digits.
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                             <input type="text" class="form-control" minlength="4" maxlength="4"
                                                    pattern="[0-9]*" title="Second four digits" required="" ngModel
                                                    name="ccnum2" #ccnum2="ngModel" [(ngModel)]= "cardnum2" >
                                                <!-- second set of card number  is required, has to be minimum length 4 and 
                                                must be numeric -->
                                                <div class="alert alert-danger" *ngIf="ccnum2.touched && !ccnum2.valid" >

                                                  <div *ngIf="ccnum2.errors.required">
                                                        Can't be left empty.
                                                    </div>
                                                    <div *ngIf="ccnum2.errors.minlength">
                                                        Min Length 4.
                                                    </div>
                                                    <div *ngIf="ccnum2.errors.pattern">
                                                        Only digits.
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" minlength="4" maxlength="4"
                                                    pattern="[0-9]*" title="Third four digits" required="" ngModel
                                                    name="ccnum3" #ccnum3="ngModel" [(ngModel)]= "cardnum3" >
                                                <!-- third set of card number  is required, has to be minimum length 4 and 
                                                must be numeric -->
                                                <div class="alert alert-danger" *ngIf="ccnum3.touched && !ccnum3.valid"> 
                                                    <div *ngIf="ccnum3.errors.required">
                                                        Can't be left empty.
                                                    </div>
                                                    <div *ngIf="ccnum3.errors.minlength">
                                                        Min Length 4.
                                                    </div>
                                                    <div *ngIf="ccnum3.errors.pattern">
                                                        Only digits.
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <!-- last set of card number  is required, has to be minimum length 4 and 
                                                must be numeric -->

                                                <input type="text" class="form-control" minlength="4" maxlength="4"
                                                    pattern="[0-9]*" title="Second four digits" required="" ngModel
                                                    name="ccnum4" #ccnum4="ngModel" [(ngModel)]= "cardnum4" >

                                                <div class="alert alert-danger" *ngIf="ccnum4.touched && !ccnum4.valid" >
                                                    <div *ngIf="ccnum4.errors.required">
                                                        Can't be left empty.
                                                    </div>
                                                    <div *ngIf="ccnum4.errors.minlength">
                                                        Min Length 4.
                                                    </div>
                                                    <div *ngIf="ccnum4.errors.pattern">
                                                        Only digits.
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">


                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="cc-exp" class="control-label mb-1">Expiration</label>



                                            <select class="form-control" name="cc_exp_mo">
                                                <option value="01">January</option>
                                                <option value="02">February</option>
                                                <option value="03">March</option>
                                                <option value="04">April</option>
                                                <option value="05">May</option>
                                                <option value="06">June</option>
                                                <option value="07">July</option>
                                                <option value="08">August</option>
                                                <option value="09">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                            <span class="invalid-feedback">Enter the expiration date</span>
                                        </div>
                                    </div>


                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="cc-exp" class="control-label mb-1">Expiration</label>
                                            <select class="form-control" name="cc_exp_yr">
                    
                                                <option>2019</option>
                                                <option>2020</option>
                                                <option>2021</option>
                                                <option>2022</option>
                                                <option>2023</option>
                                                <option>2024</option>
                                                <option>2025</option>
                                                <option>2026</option>
                                                <option>2027</option>
                                            </select>
                                            <span class="invalid-feedback">Enter the expiration date</span>
                                        </div>
                                    </div>


                                    <div class="col-4">
                                        <label for="x_card_code" class="control-label mb-1">Security code</label>
                                        <div class="input-group">
                                             <!-- security code is required, has to be minimum length 3 and 
                                                must be numeric -->
                                            <input type="text" class="form-control" minlength="3" maxlength="3"
                                                pattern="[0-9]*" title="CVV" required="" ngModel name="ccv"
                                                #cvv="ngModel" [(ngModel)]= "cvvcode" >

                                            <!-- <div class="alert alert-danger" *ngIf="cvv.touched && !cvv.valid"> -->
                                                    <div class="alert alert-danger" *ngIf="submitted && !cvv.valid">
                                                <div *ngIf="cvv.errors.required">
                                                    Can't be left empty.
                                                </div>
                                                <div *ngIf="cvv.errors.minlength">
                                                    Min Length 3.
                                                </div>
                                                <div *ngIf="cvv.errors.pattern">
                                                    Only digits.
                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                </div>

                                <div>
                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                    <i class="fa fa-lock fa-lg"></i>&nbsp;
                                    <span id="payment-button-amount" (click)="onClickPlaceOrder">Pay ${{totalamt}}.00</span>
                                </button>
                            </div>
                            </form>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Order Summary Side Panel -->
    <div class="mainc_c">
      
        <div class="col-md-12 order-md-2 mb-4" id="col-md-12">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Movie Booking Summary</span>
            </h4>
            <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Theater Name</h6>
                                </div> 
                            <span class="text-muted">{{theater.theatreName}}</span>
                        </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Movie Name</h6>
                            <small class="text-muted">Directed By: {{movie.directorName}}</small>
                            </div> 
                        <span class="text-muted">{{movie.movieName}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Movie Length</h6>
                            <small class="text-muted">Movie Type: {{movie.movieType}}</small>
                        </div>
                        <span class="text-muted">{{movie.movieLength}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Seat Details</h6>
                            </div>
                            <span class="text-muted">{{seatdetails}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">Seat Count</h6>
                            </div>
                            <span class="text-muted">{{noofseats}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <div>
                                    <h6 class="my-0">Show Time</h6>
                                 `
                                </div>
                                <span class="text-muted">{{showtime}}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                    <div class="text-success">
                                        <h6 class="my-0">Internet Handling Fees</h6>
                                      
                                    </div>
                                    <span class="text-success">+${{handlingfees}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between">
                                    <span>Total Amount Payable (USD)</span>
                                    <strong>${{(noofseats * ticketprice) + handlingfees}}</strong>
                                </li>
                            </ul>

                        </div>
                        <button id="download" *ngIf="isDownloadEnabled" (click)="downloadAsPDF()" class="downloadPDF" > Download M Ticket</button>

                     </div>
                     
                </div>  
<div class="note">     
   <b>Note:</b> 
    You can cancel the tickets 4 hour(s) before the show. Refunds will be done according to Cancellation Policy.
    In case of Credit/Debit Card bookings, the Credit/Debit Card and Card holder must be present at the ticket counter
    while collecting the ticket(s).

    © Bigtree Entertainment Pvt. Ltd. Privacy Policy | Contact Us

</div>

<br>
<br>